.printModal{font-family:sans-serif;display:flex;text-align:center;font-weight:300;font-size:30px;left:0;top:0;position:absolute;color:#0460b5;width:100%;height:100%;background-color:rgba(255,255,255,.91)}.printClose{position:absolute;right:10px;top:10px}